body{
	margin: 0;
	padding: 0;
	font-family: 'Space Mono', monospace;
}
header{
	max-width: 1440px;
	height: 100vh;
	background-color: #c2e3e3;
	display: flex;
	align-items: center;	
}
.container-mayor{
	width: 780px;
	height: 450px;
	margin: auto;
	background-color: white;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
input{
	font-family: 'Space Mono', monospace;
}

/*******************SECCION 1**********************/
.seccion-1{
	display: grid;
	grid-template-rows: 110px 170px 110px;
	margin: 30px 20px 30px 30px;
}
.count input{
	width: 95%;
	height: 35px;
	margin-top: 10px;
	text-align: right;
	border-radius: 5px;
	border: none;
	background-color: #ebeff0;
	padding-right: 10px;
	font-size: 18px;
}
.count input:focus-visible{
	outline: 2px solid #0cd6f0;
}
.btns-tip{
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 10px;
}
.tip{
	width: 95px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background-color: #04444b;	
	color: white;
	font-family: 'Space Mono', monospace;
	font-size: 18px;
}
.tip:hover{
	background-color: #9deade;
	color: black;
	border: 2px solid #0cd6f0;
}
.btns-tip #custom{
	width: 88px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background-color: #ebeff0;
}
.btns-tip #custom:focus-visible{
	outline: 2px solid #0cd6f0;
}
.peopple{
	/*margin-top: 20px;*/
}
.peopple input{
	width: 95%;
	height: 35px;
	margin-top: 10px;
	text-align: right;
	border-radius: 5px;
	border: none;
	background-color: #ebeff0;
	padding-right: 10px;
	font-size: 18px;
}
.peopple input:focus-visible{
	outline: 2px solid #0cd6f0;
}

/*******************SECCION 2**********************/
.seccion-2{
	display: grid;
	grid-template-rows: 100px 100px 120px;
	margin: 30px 30px 30px 20px;	
	border-radius: 15px;
	min-width: 288px;
	padding: 50px 20px 20px 20px;
	background-color: #04444b;
}
.amount{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.amount article{
	display: grid;
	grid-template-rows: 20px 20px;
	padding-top: 10px;
}
.amount label{
	color: white;
	font-size: 14px;
}
.amount span{
	color: gray;
	font-size: 13px;
}
.amount input{
	width: 90%;
	height: 60px;
	text-align: right;
	background-color: #04444b;
	color: #3fb5a5;
	font-size: 35px;
	border: none;
}
.amount input::placeholder{
	color: #32bcab;
}
.reset{
	display: flex;
	align-items: end;
	justify-content: center;
	padding-bottom: 10px;
}
.reset button{
	width: 80%;
	height: 40px;
	background-color: #0c686a;
	border-radius: 5px;
	border: none;
	font-family: 'Space Mono', monospace;
}

/********************MEDIA 780************************/
@media(max-width: 780px){
	.tip{
		width: 90px;
		height: 40px;
	}
	.amount label{
		font-size: 13px;
	}
}
/********************MEDIA 710************************/
@media(max-width: 710px){
	.tip{
		width: 80px;
	}
	.btns-tip #custom {
	    width: 78px;	    
	}
}
/********************MEDIA 680************************/
@media(max-width: 680px){
	.container-mayor{
		width: 680px;
		height: auto;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}

	.seccion-1{
		display: grid;
		grid-template-rows: 120px 200px 120px;
		margin-bottom: 10px;
	}
	.tip{
		width: 150px;
		height: 60px;
	}
	.btns-tip #custom {
	    width: 145px;	    
	}

	.seccion-2{
		height: auto;
		margin-top: 5px;
		grid-template-rows: 80px 80px 80px;
	}
	.amount label{
		font-size: 16px;
	}
	.amount input{
		font-size: 40px;
	}
	.reset button{
		width: 90%;
		height: 50px;
		font-size: 16px;
		padding-bottom: 0px;		
	}

}
/********************MEDIA 520************************/
@media(max-width: 520px){
	.tip{
		width: 130px;
		height: 60px;
	}
	.btns-tip #custom {
	    width: 125px;	    
	}
}
/********************MEDIA 460************************/
@media(max-width: 460px){
	.seccion-1 label{
		font-size: 14px;
	}
	.tip{
		width: 113px;
		height: 50px;
		font-size: 16px;
	}
	.btns-tip #custom {
	    width: 108px;	    
	}

	.seccion-2 label{
		font-size: 14px;
	}
	.seccion-2 input{
		font-size: 30px;
	}
}
/********************MEDIA 400************************/
@media(max-width: 400px){
	.seccion-1 label{
		font-size: 13px;
	}
	.seccion-1{
		display: grid;
		grid-template-rows: 110px 230px 110px;
	}
	.btns-tip{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.tip{
		width: 150px;
		height: 50px;
		font-size: 16px;
	}
	.btns-tip #custom {
	    width: 145px;	    
	}

	.seccion-2 label{
		font-size: 12px;
	}
	.seccion-2 input{
		font-size: 30px;
	}
}

